body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

nav {
  background-color: #343a40;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #495057;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio uniforme entre los campos del formulario */
}

form div {
  display: flex;
  align-items: center; /* Alinea los items verticalmente en el centro */
}

form label {
  width: 100px; /* Ancho fijo para los labels */
  margin-right: 20px; /* Espacio entre label e input */
  font-weight: bold;
  text-align: right;
}

form input {
  flex: 1; /* Los inputs ocuparán todo el espacio restante */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box; /* Incluye el padding y border en el ancho total */
}

form button {
  padding: 10px 20px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #0056b3;
}

h2 {
  text-align: center;
  color: #343a40;
}
